[submodule "external/ProGPU"]
	path = external/ProGPU
	url = ../ProGPU
	branch = main
[submodule "external/LibreWinForms"]
	path = external/LibreWinForms
	url = ../winforms
	branch = librewinforms-progpu-port
